<footer class="bg-dark text-light">
    <div class="container  w-75">
        <div class="main ">
            <div class="row">
                <div class="col-md-3 mt-5">
                    <h3 class="">sandbox</h3>
                    <p class="text-weight-normel text-secondary fw-bold">2022 sandbox.<br>All right reserved</p>
                    <div class="d-flex ms-2">
                        <a href="" class="">
                            <i class="bi bi-twitter  text-secondary fw-bold"></i>
                            <i class="bi bi-instagram  text-secondary fw-bold ms-2"></i>
                            <i class="bi bi-reddit ms-2  text-secondary fw-bold"></i>
                            <i class="bi bi-linkedin ms-2 text-secondary fw-bold"></i>
                        </a>
                    </div>
                </div>

                <div class="col-md-3 mt-5">
                    <h6>Get in Touch</h6>
                    <p class="text-secondary fw-bold">28/1650D, Cyberpark Kozhikode Park Rd, Nellikkode, Kozhikode,
                        Kerala 673016
                    </p>
                </div>

                <div class="items col-md-3 mt-5 ">
                    <h6>Learn More</h6>
                    <a href="" class="text-secondary fw-bold">About Us</a>
                    <a href="" class="text-secondary fw-bold">Our story</a>
                    <a href="" class="text-secondary fw-bold">Projects</a>
                    <a href="" class="text-secondary fw-bold">Terms to use</a>
                </div>

                <div class="col-md-3 mt-5">
                    <h6>Our News Letter</h6>
                    <p class="text-secondary fw-bold">
                        subscribe to our newsletter to get our news&deals delivered to you
                    </p>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Email address"
                            aria-label="Recipient's username" aria-describedby="button-addon2">
                        <button class="btn btn-primary" type="button" id="button-addon2">Join</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="">

    </div>
</footer>