<div class="main">
    <div class="container mt-5 w-50">
        <div class="tittle">
            <p class="tittle-text text-center text-secondary fw-bold">CAN'T FIND THE RIGHT PERSON?</p>
        </div>
        <div class="mt-5">
            <p class="text-center h2">we are the community with 5000+ team members. join and build future with us. </p>
        </div>
        <div class="button text-center pb-5">
            <button class="btn  bg-primary text-light ps-3 pe-3 p-2 ">Contact us</button>
        </div>
    </div>
</div>