.main {
    background-color: rgba(116, 185, 187, 0.24);
    background-color: azure;
    /* background-color: gold; */
    min-height: 80vh;
    border-radius: 0px 0px 40px 40%/60px;


}

.explore_btn {
    border-radius: 50px;
    border: 0;
    background-color: #2d48e0;

}

.explore_btn:hover {
    background-color: #425bebda;

}

/* .content{
    background-color:rgba(116, 185, 187, 0.24);
    border-radius: 0px 0px 40px 40px ; 
 
} */
.texts {
    position: relative;
    top: 40px;
}

.text-1 {
    position: relative;
    top: 80px;
    color: rgba(0, 0, 0, 0.349);
    font-weight:bold;
}

.text-2 {
    position: relative;
    top: 40px;
    font-size: 50px;
    color: rgba(0, 0, 0, 0.801);
    font-family: 'Kanit', sans-serif;


}

.text-3 {
    position: relative;
    top: 45px;
    font-size: 50px;
    color: rgba(0, 0, 0, 0.801);
}

.card {
    /* border: none; */
    box-shadow: .1px .1px black;
}

.bi {
    color: #3d5afe;
}

.card_elements {
    position: relative;
    bottom: 50px;

}

.cpy:hover {
    transform: scale(1.05);
    transition: 0.8s;
}

.service {
    /* background-color: rgba(243, 243, 243, 0.548); */

    /* background-color: #ebf1f117; */

}

.head-font {
    font-size: 45px;
}

.hr {
    position: relative;
    top: 20px;
}

.sec-title {
    font-size: 30px;
    font-weight: 600;

}

.banner {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    padding: 10px;
    border: none;
}

.badge {
    border-radius: 50px 50px;
}
.text-area .form-control{
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

@media screen and (max-width:764px) {
    .card_elements .card{
        margin: 10px;

    }

    .text-area .col-md-3 { 
       margin: 10px;
    }
    .main{
        position: relative;
        bottom: 23px;
    }
    .main .text-1{
        font-size: 13px;
    }
    .main .text-2 .text-3{
        font-size: 30px;
    }

}